<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Palindromes + Find and Replace</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <link rel='stylesheet' href="~/css/styles.css">
  </head>
<body>
    <div class = "container">
      <div class = "jumbotron">
          <h1>Week 2 Functions!</h1>
      </div>
        <div class = "row">
          <div class = "col-md-12">
            <form id = "functionSelector" method = "post" action = "/">
              <h6><strong>Pick a Function: </strong></h6>
              <select class="form-control" id="functionSelect">
                <option value="palindromes">Palindromes</option>
                <option value="fr">Find and Replace</option>
                <option value="rpsai">Rock paper Scissors Single Player</option>
                <option value="rps">Rock Paper Scissors Two Player</option>
                <option value="anagram">Anagram</option>
                <option value="scrabble">Scrabble</option>
              </select>
                <div id = "palindromes">
                  <label for="palindromeInputString"><h6><strong>Input a String: </strong></h6></label>
                  <input id="palindromeInputString" class="form-control" type="text" placeholder="Input:">
                </div>
                <div id = "fr">
                  <label for="inputFR"><h6><strong>Input a String: </strong></h6></label>
                  <input id="inputFR" class="form-control" type="text" placeholder="Input:">
                  <label for="findFR"><h6><strong>Enter a string to Find: </strong></h6></label>
                  <input id="findFR" class="form-control" type="text" placeholder="Enter a string to Find:">
                  <label for="replaceFR"><h6><strong>Enter a string you want to replace what you found with: </strong></h6></label>
                  <input id="replaceFR" class="form-control" type="text" placeholder="Enter a string to Find:">
                </div>
                <div id = "rpsai">
                  <h6><strong>Player One Move: </strong></h6>
                  <select class=form-control id = "rpsPlayerOne">
                    <option value="r">Rock</option>
                    <option value="p">Paper</option>
                    <option value="s">Scissors</option>
                  </select>
                </div>
                <div id = "rps">
                  <h6><strong>Player One Move: </strong></h6>
                  <select class=form-control id = "rpsPlayerOne">
                    <option value="r">Rock</option>
                    <option value="p">Paper</option>
                    <option value="s">Scissors</option>
                  </select>
                <h6><strong>Player Two Move: </strong></h6>
                  <select class=form-control id = "rpsPlayerTwo">
                    <option value="r">Rock</option>
                    <option value="p">Paper</option>
                  <option value="s">Scissors</option>
                  </select>
                </div>
                <div id = "anagram">
                  <label for="anagram"><h6><strong>Anagram: </strong></h6></label>
                  <input id="anagram" class="form-control" type="text" placeholder="Enter what you want to replace with:">
                </div>
                <div id = "scrabble">
                  <label for="scrabble"><h6><strong>Scrabble: </strong></h6></label>
                  <input id="scrabble" class="form-control" type="text" placeholder="Enter what you want to replace with:">
                </div>
                <button type="submit" class ="btn" id="Submit">Execute</button>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" id="results">
            <h3>This is the resultpage </h3>
          </div>

        </div>
      </div>

</body>
<script type="text/javascript">
function toggle(){
  $("#palindromes").hide();
  $("#fr").hide();
  $("#rps").hide();
  $("#anagram").hide();
  $("#scrabble").hide();
  $("#rpsai").hide();
  $("#results").hide();
}
$(document).ready(function(){
  toggle();
  $("#palindromes").show();
  $("#functionSelect").change(function(){
    event.preventDefault();
    toggle();
    $("#"+$(this).val()).show();
  });
});
</script>
